$green: #1A3E3E;
$white: #FDFDFD;
$laptopWidth: 992px;
$padWidth: 768px;
$mobileWidth: 576px;

@import 'font';
@import 'null';



body._lock {
   @media (max-width: $padWidth) {
      overflow: hidden;
   }
}

.wrapper {
   min-height: 100vh;
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   position: relative;
}

._container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

._btn {
   border-radius: 4px;
   background: $green;
   color: $white;
   font-weight: 600;
   font-size: 16px;
   transition: all ease 0.3s;
   border: 1px solid $green;

   &:hover {
      transform: scale(1.15);
   }

   &:active {
      color: $green;
      background-color: $white;
      transform: scale(1);
   }
}

@import 'header';
@import 'bunner';
@import 'about-camp';
@import 'best-programs';
@import 'popular';

.main {

   &__travel-blog {}
}

.travel-blog {
   padding: 80px 0;
   background-color: #F3F5F4;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: $mobileWidth) {
         display: block;
      }
   }

   &__subtitle {
      font-size: 24px;
      color: #F2BE22;
      margin-bottom: 8px;

      @media (max-width: $padWidth) {
         font-size: 20px;
      }

      @media (max-width: $mobileWidth) {
         font-size: 16px;
      }
   }

   &__title {
      font-weight: 800;
      font-size: 32px;
      margin-bottom: 40px;

      @media (max-width: $padWidth) {
         font-size: 28px;
         margin-bottom: 32px;
      }

      @media (max-width: $mobileWidth) {
         font-size: 24px;
      }
   }

   &__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   &__blog {
      padding: 16px;
   }

   &__btn {
      font-weight: 600;
      font-size: 16px;
      padding: 16px 36px;

      @media (max-width: $mobileWidth) {
         padding: 12px 24px;
         display: block;
         margin: 0 auto;
      }
   }
}

.blog-card {
   display: flex;
   justify-content: space-between;
   flex: 0 1 580px;
   min-height: 312px;
   background-color: $white;

   &__img {
      flex: 0 0 230px;
      min-height: 100%;
      border-radius: 6px;
      background: url('../img/TravelBlog/1.jpg') center / cover no-repeat;

      &:nth-child(2) {
         background: url('../img/TravelBlog/2.jpg') center / cover no-repeat;
      }

      &:nth-child(3) {
         background: url('../img/TravelBlog/3.jpg') center / cover no-repeat;
      }

      &:nth-child(4) {
         background: url('../img/TravelBlog/4.jpg') center / cover no-repeat;
      }
   }

   &__text-block {
      width: 100%;
      margin-left: 20px;
   }

   &__title {}

   &__text {}

   &__footer {}

   &__date {}

   &__link {}
}