$green: #1A3E3E;
$white: #FDFDFD;
$laptopWidth: 992px;
$padWidth: 768px;
$mobileWidth: 576px;

@import 'font';
@import 'null';



body._lock {
   @media (max-width: $padWidth) {
      overflow: hidden;
   }
}

.wrapper {
   min-height: 100vh;
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   position: relative;
}

._container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

._btn {
   border-radius: 4px;
   background: $green;
   color: $white;
   font-weight: 600;
   font-size: 16px;
   transition: all ease 0.3s;
   border: 1px solid $green;

   &:hover {
      transform: scale(1.15);
   }

   &:active {
      color: $green;
      background-color: $white;
      transform: scale(1);
   }
}

@import 'header';
@import 'bunner';
@import 'about-camp';

.main {

   &__best-programs {
      padding: clamp(40px, 5vw + 20px, 80px) 0;

   }
}

.best-programs {
   background-color: #F3F5F4;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__text-block {
      flex: 0 1 580px;

      @media (max-width: $laptopWidth) {
         flex: 1 1 auto;
      }
   }

   &__subtitle {
      font-size: 24px;
      color: #F2BE22;
      margin-bottom: 8px;

      @media (max-width: $padWidth) {
         font-size: 20px;
      }

      @media (max-width: $mobileWidth) {
         font-size: 16px;
      }
   }

   &__title {
      font-weight: 800;
      font-size: 32px;
      margin-bottom: 40px;

      @media (max-width: $padWidth) {
         font-size: 28px;
         margin-bottom: 32px;
      }

      @media (max-width: $mobileWidth) {
         font-size: 24px;
      }
   }

   &__text {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 40px;

      @media (max-width: $padWidth) {
         margin-bottom: 32px;
      }

      @media (max-width: $mobileWidth) {
         font-size: 16px;
      }
   }

   &__list {}

   &__list-item {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      @media (max-width: $padWidth) {
         margin-bottom: 32px;
      }

      @media (max-width: $mobileWidth) {
         align-items: flex-start;
      }
   }

   &__list-img {
      margin-right: 16px;
   }

   &__list-text-block {}

   &__list-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1.2%;
      margin-bottom: 4px;
   }

   &__list-text {
      font-size: 14px;
      line-height: 20px;
   }

   &__btn {
      font-weight: 600;
      font-size: 16px;
      padding: 16px 36px;

      @media (max-width: $mobileWidth) {
         padding: 12px 24px;
         display: block;
         margin: 0 auto;
      }
   }

   &__img-block {
      flex: 0 0 510px;
      min-height: 510px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      @media (max-width: $laptopWidth) {
         display: none;
      }
   }

   &__img {
      width: 250px;
      height: 250px;
      background-color: $green;
      margin: 5px 0;

      &:first-child {
         background: url('../img/BestPrograms/LeftTop.jpg') center / cover no-repeat;
         border-top-right-radius: 50px;
         border-bottom-left-radius: 50px;
      }

      &:nth-child(2) {
         background: url('../img/BestPrograms/RightTop.jpg') center / cover no-repeat;
         border-top-left-radius: 50px;
         border-bottom-right-radius: 50px;
      }

      &:nth-child(3) {
         background: url('../img/BestPrograms/LeftBottom.jpg') center / cover no-repeat;
         border-top-left-radius: 50px;
         border-bottom-right-radius: 50px;
      }

      &:nth-child(4) {
         background: url('../img/BestPrograms/RightBottom.jpg') center / cover no-repeat;
         border-top-right-radius: 50px;
         border-bottom-left-radius: 50px;
      }
   }
}