$green: #1A3E3E;
$white: #FDFDFD;
$laptopWidth: 992px;
$padWidth: 768px;
$mobileWidth: 576px;

@import 'font';
@import 'null';



body._lock {
   @media (max-width: $padWidth) {
      overflow: hidden;
   }
}

body._locked {
   @media (min-width: $mobileWidth) {
      overflow: hidden;
   }
}

.wrapper {
   min-height: 100vh;
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   position: relative;
}

._container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

._btn {
   border-radius: 4px;
   background: $green;
   color: $white;
   font-weight: 600;
   font-size: 16px;
   transition: all ease 0.3s;
   border: 1px solid $green;

   &:hover {
      transform: scale(1.15);
   }

   &:active {
      color: $green;
      background-color: $white;
      transform: scale(1);
   }
}

@import 'header';
@import 'bunner';
@import 'about-camp';
@import 'best-programs';
@import 'popular';
@import 'travel-blog';
@import 'gallary';
@import 'newsletter';

.footer {
   background-color: $green;


   &__container {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      padding: 80px 15px;

      @media (max-width: $padWidth) {
         flex-wrap: wrap;
      }
   }

   &__info-block {
      flex: 0 1 480px;
      display: flex;
      flex-direction: column;

      @media (min-width: $padWidth) {
         min-height: 250px;
      }

      @media (max-width: $padWidth) {
         flex: 1 1 auto;
         margin-bottom: 15px;

      }
   }

   &__contacs {
      margin-top: auto;
      margin-bottom: 25px;

      a {
         font-weight: 600;
         font-size: 14px;
         line-height: 18px;
         text-decoration: underline solid 1px;
         color: #fff;

         &:hover {
            text-decoration-thickness: 2px;
         }
      }
   }

   &__title {
      font-weight: 700;
      font-size: 20px;
      color: $white;
      margin-bottom: 15px;
   }

   &__text {
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      margin-bottom: 25px;
   }

   &__socials {


      &__accordion {}
   }

   .socials {
      display: flex;
      gap: 15px;

      img {
         width: 32px;
         transition: transform ease 0.3s;

         &:hover {
            transform: scale(1.1);
         }
      }
   }
}

.accordion {

   &__header {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $white;
      margin-bottom: 20px;
   }

   &__content {

      a {
         font-weight: 400;
         font-size: 14px;
         color: $white;

         &:hover {
            color: #F2BE22;
         }
      }

      li {
         position: relative;
         margin-bottom: 16px;

         &:before {
            content: "";
            opacity: 0;
            visibility: hidden;
            top: 50%;
            left: 0;
            transition: all ease 0.3s;
            width: 10px;
            height: 10px;
            position: absolute;
            background: url("../img/Icons/arrowYellow.svg") top center / contain no-repeat;
         }

         &:hover:before {
            opacity: 1;
            visibility: visible;
            left: -16px;
            top: 0px;
            width: 14px;
            height: 15px;
         }
      }
   }
}

.accordion {
   @media (max-width: $mobileWidth) {
      padding: 15px 15px 0 15px;
      background-color: $white;
      border-radius: 12px;
      flex: 1 1 auto;
      position: relative;

      &__header {
         color: #18121E;
         margin-bottom: 10px;
         position: relative;

         &::after {
            content: "";
            height: 130%;
            aspect-ratio: 1 / 1;
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(90deg);
            background: url("../img/Icons/arrowBlack.svg") center / contain no-repeat;
            transition: transform 0.3s ease;
         }
      }

      &__content {
         max-height: 0;
         transition: all 0.3s ease;
         overflow: hidden;

         a {
            color: #18121E;
         }
      }

      &._open {
         .accordion__header {
            &::after {
               transform: rotate(-90deg);
               right: 8px;
            }
         }

         .accordion__content {
            border-top: $green solid 2px;
            padding-top: 10px;
            max-height: 500px;
         }
      }
   }
}

.footer {

   &__bottom {
      padding: 24px 0;
      background-color: #18121E;

      @media (max-width: $padWidth) {
         padding: 20px 0;
      }

      ._container {
         display: flex;
         justify-content: space-between;
         gap: 15px;
         flex-wrap: wrap;

         @media (max-width: $mobileWidth) {
            flex-direction: column;
            align-items: center;
         }

         p,
         a {
            font-weight: 600;
            font-size: 14px;
            color: #fff;
         }

         a {
            text-decoration: underline solid 1px;

            &:hover {
               text-decoration-thickness: 2px;
            }
         }
      }

      .currentYear {}

   }
}